.tabI{
  background-color: #fff;
  box-shadow: 0 7px 21.2px 1.8px rgba(173, 174, 174, 0.52);
  padding: 50px 0 40px 0;
  text-align: center;
  position: relative;
  z-index: 1;
  margin: 100px 0 30px 0;
}
.txtI{
  text-align: left;

}
.fas{
  color: #b2ce54;
}
.imgL{
  position: absolute;
  z-index: 1;
  width: 100%;
}
