#Lct{
  text-align: center;
  padding: 0 100px 50px 100px;
  box-shadow: 2.1px 2.1px 42px 0 rgba(173, 174, 174, 0.16);
  img{
    width: 187.5px;
    height: 248.5px;
  }
  h4{
    font-size: 15.5px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: 0.8px;
    text-align: center;
    color: #2c2c34;
  }
  P{
    font-size: 15px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #8f97a3;
  }
  h1{
    font-family: Montserrat;
    font-size: 65px;
    color: rgba(171, 181, 196, 0.15);
  }
  .col-md-4{
    padding: 20px 0 20px 0;
  }
  a{
    color: #d35050;
    &:hover{
      h4{
        color: #d35050;
      }
    }
  }
}

