#menu{
  text-align: center;
  .navbar-collapse{
    flex-grow: 0;
    li{
      padding: 0 40px 0 0;
      a{
        color: #0e2f43;
        &:hover{
          color: #b2ce54;
        }
      }
    }
  }
  .navbar-brand{
    margin: 0 12% 0 0;
  }
  .menu-right{
    flex-flow: 1;
    a{
      color: #bfc2c9;
    }
    margin: 0 0 0 12%;
    .a{
      border-right: 1px solid #bfc2c9;
    }
  }
}
